// TODOS 
  

.new-task ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightblue;
  opacity: 1; /* Firefox */
}

.new-task input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.new-task input {
    //box-sizing: border-box;
    padding: 10px;
    border: 1px solid lightblue;
    background: transparent;
    //border: none;
    width: 20rem;
    //padding-right: 80px;
    font-size: 1em;
  }
  
  .new-task input:focus {
    outline: 0;
  }
  
  .main ul {
    margin: 0;
    padding: 0;
    background: white;
  }
  
  .delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
  }
  
  .main li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
  }
  
  .main li .text {
    margin-left: 10px;
  }
  
  .main li.checked {
    color: #888;
  }
  
  .main li.hidden {
    display: none;
  }
  
  .main li.checked .text {
    text-decoration: line-through;
  }
  
  .main li.private {
    background: #eee;
    border-color: #ddd;
  }
  
  div.todos-top-section .hide-completed {
    // float: right;
  }

  div.todos-form-wrapper {
    margin-top: 2rem;
  }

  form#todos-form {
    margin-top: 1rem;
  }

  
  .toggle-private {
    margin-left: 5px;
  }