@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "partials/_variables";
@import "partials/_todos";
@import "partials/_transitions";

html,
body {
  height: 100%;
  padding: 0 !important;
  overflow: initial !important;
}

.author-heading {
  font-size: 1.2rem;
}

.feature-heading {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
}

.right-col {
  margin-top: 2rem;
}

.jumbotron {
  padding: 2rem !important;
}

.svg-text-icon {
  vertical-align: bottom;
}

.react-tags input {
  padding: 5px;
  min-width: 10rem;
}

.btn-load-more {
  text-transform: uppercase;
  border-color: lightgray;
  color: #343a40;
  background-color: white;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
}

.btn-load-more:hover {
  background-color: rgba(0, 0, 0, 0.08);
  border-color: #343a40;
}

p:last-child {
  margin-bottom: 0;
}

.replyPrefix {
  font-weight: bold;
}

a,
a:link,
a:hover,
a:visited {
  text-decoration: none;
}

.blogTitle a {
  color: dimGray;
}

h2.blogTitle {
  margin-bottom: 0.5rem;
}

.fixed-top {
  z-index: 2000;
}

div,
p,
span {
}

.splash {
  text-align: center;
  background-color: black;
  color: white;
  height: 100vh;
  max-width: 100%;
  position: absolute;
}

.splash h1 {
  margin: auto;
}

.card-subtitle {
  margin-bottom: 0.5rem;
}

button:focus {
  outline: none;
}

.swal-text {
  background-color: GhostWhite;
  padding: 17px;
  border: 1px solid silver;
  border-radius: 3px;
  display: block;
  margin: 22px;
  text-align: center;
  color: black;
}

.sessionData {
  margin-bottom: 2rem;
}

.sessionData h2 {
  margin-bottom: 0;
}

.pageLoader {
  width: 300px;
  height: 300px;
  margin-top: 2rem;
  text-align: center;
  background-color: transparent;
  color: #303030;
}

.pageLoader p {
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.tooltipster-sidetip.tooltipster-shadow.tooltipster-shadow-customized .tooltipster-content {
  color: lightcoral;
}

.private-key {
  margin-left: 1rem;
  font-size: smaller;
}

.router-parent {
  min-height: 100vh;
}

header {
  margin-bottom: 2rem;
  background-color: #343a40;
  color: white;
}

main {
}

footer {
  min-height: 6rem;
  background-color: #343a40;
  padding: 2rem;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  position: relative;
  top: 20px;
}

.profile-image-holder {
  margin-bottom: 2rem;
}

.cancel-edit-icon {
}

.ql-video {
}

.display-4 {
  font-size: 2rem;
  font-weight: 400;
}

h1,
.h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
}

.page-content {
  margin-top: 2rem;
}

.profile-details {
  margin-bottom: 2rem;
}

.upload-controls {
  max-width: 30rem;
  margin-bottom: 0.5rem;
}

img.standard-image {
  max-width: 200px;
}

.messages {
  margin-top: 4rem;
}

.container-fluid.header {
  padding: 0;
  margin-bottom: 3rem;
}

.circle {
  border-radius: 50%;
}

form {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

div.register2FA {
  margin-top: 2rem;
}

p.shitty_green {
  color: $funny-color;
}

.QRcode {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

div.about h1 {
  text-align: center;
}

.main-nav .dropdown-item {
}

.main-nav .dropdown-item:hover,
.main-nav .dropdown-item:focus {
  text-decoration: none;
  background-color: #446ab9;
}

.navbar-toggler {
  font-size: 0.9rem;
}

.navbar-dark .navbar-nav .show > .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-dark.bg-dark {
  background-color: #2d467b !important;
}

nav.main-nav {
  height: 50px;
}

.main-nav .dropdown-menu {
  padding: 0;
  margin-left: 0.4rem;
  top: 45px;
  border-radius: 0;
  color: white;
  min-width: 10rem;
  border: 0;
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.3);
  background-color: #2d467b;
  font-size: inherit;
}

.main-nav .dropdown-item {
  padding: 0 0 0 0.1rem;
}

.main-nav .dropdown-toggle.nav-link {
  padding-bottom: 0.15rem;
}

.main-nav .dropdown-menu .nav-link {
  padding: 0.5rem;
}

.main-nav .nav-link {
  padding: 0.5rem 0;
}

.main-nav .navbar-brand {
  color: white;
  font-size: inherit;
  margin-right: 0;
  padding: 0;
  height: 100%;
}

.main-nav .app-title {
  font-weight: 600;
}

@media (max-width: 320px) {
}

@media (max-width: 575px) {
  .notifications .btn {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media (min-width: 576px) {
  .ql-video {
    position: relative;
    display: block;
    padding: 0;
    overflow: visible;
    width: 512px;
    height: 288px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .display-4 {
    font-size: 3.5rem;
    font-weight: 300;
  }
  .ql-video {
    width: 896px;
    height: 504px;
  }

  h1,
  .h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  nav.main-nav {
    box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.3); /*0 2px 6px 1px rgba(0, 0, 0, 0.3)*/
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1921px) {
}

@media (min-width: 2561px) {
}
